/*-- scss:defaults --*/

$body-bg:rgb(255, 229, 215) !default;
$body-color:rgb(199, 156, 136) !default;
$link-color: rgb(108, 177, 255) !default;

$selection-bg: #689867 !default;

// headings
$presentation-heading-color: #B15123 !default;